:root {
	--gold: rgb(243, 224, 157);
	--darkpurple: rgb(68, 54, 94);
	--lightpurple: rgb(189, 181, 205);
	--blue: rgb(59, 134, 159);
	--lightblue: rgb(222, 236, 237);
}

.amaranth-bold {
  font-family: "Amaranth", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
	margin: 0 auto;
	padding: 0;
	background-color: var(--darkpurple);
	font-family: "Raleway", sans-serif;
}

#hamburger-icon {
	margin-left: 0.4em;
	font-size: 6em;
	color: var(--darkpurple);
}

#hamburger-icon:hover{
	cursor: pointer;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--gold);
	overflow-x: hidden;
	padding-top: 60px; 
	transition: 0.3s;
	font-family: "Amaranth", sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--darkpurple);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: var(--lightpurple);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 4em;
  margin-left: 50px;
}

header {
	background-color:var(--gold);
	display: flex;
	justify-content: space-between;
}

header #hamburger {
	margin: 25px 50px 25px 50px;
}

header #logoTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header #logoTitle h1 {
	font-family: "Amaranth", sans-serif;
	font-size: 4em;
	color: var(--darkpurple);
	margin: 0 0 0 0;
}

header #logButtons {
	display: flex;
    justify-content: space-between;
    align-items: center;
	border-radius: 5px;
}

.loginB {
	margin: 0px 10px 0px 10px;
	padding: 5px;
	background-color: var(--gold);
	color: var(--blue);
	border: 2px solid var(--blue);
	border-radius: 10px;
	font-size: 1.3em;
	font-family: "Amaranth", sans-serif;
	transition: 0.1s;
}

.loginB:hover, .signupB:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.loginB:active {
	background-color: white;
}

.signupB {
	margin: 0px 10px 0px 10px;
	padding: 5px;
	background-color: var(--blue);
	border: 2px solid var(--blue);
	color: white;
	border-radius: 10px;
	font-size: 1.3em;
	font-family: "Amaranth", sans-serif;
}

.signupB:active {
	background-color: var(--lightblue);
	color: var(--blue);
}

main {
	margin: auto;
	padding-top: 1em;
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.centered-section{
	background-color: white;
	border-radius: 1em;
	padding: 1em;
}

.div-form{
	border-radius: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input{
	padding: 0.2em;
	width: 20em;
}
